<section id="books" class="books">
  <h2 class="visually-hidden">Trending books</h2>

  <div class="books-categories-wrapper">
    <div class="books-title-wrapper">
      <h3 class="books-subtitle">Books</h3>
      <p class="books-count">Showing 24 of 100</p>
    </div>

    <ul class="books-categories-list"></ul>
  </div>

  <div class="books-list-wrapper">
    <ul class="books-cards-list">
      <!-- Заготовка під картку -->
      <!-- <li class="books-card">
        <img class="books-card-image" src="" alt="" />
        <div class="books-card-text-wrapper">
          <h3 class="books-card-title">Book title</h3>
          <p class="books-card-author">Book author</p>
        </div>
        <p class="books-card-price">$</p>
        <button class="books-card-btn" type="button">Learn More</button>
      </li> -->
    </ul>
    <button class="books-btn" type="button">Show More</button>
  </div>
</section>
