<section id="books" class="books-section">
  <div class="container">
    <h2 class="visually-hidden">Trending books</h2>

    <div class="books-categories-wrapper">
      <div class="books-title-wrapper">
        <h3 class="books-subtitle">Books</h3>
        <p class="books-counter">
          Showing <span class="books-shown">0</span> of
          <span class="books-total">0</span>
        </p>
      </div>

      <div class="categories-container">
        <!-- Мобільний-планшет dropdown список категорій -->
        <div class="dropdown">
          <button type="button" class="dropdown-toggle">Categories</button>
          <ul class="dropdown-menu"></ul>
        </div>

        <!-- Десктопний список категорій-->
        <div class="books-categories">
          <ul class="categories-list"></ul>
        </div>
      </div>
    </div>
    <div class="books-list-wrapper">
      <ul class="books-cards-list"></ul>
      <button class="show-more-btn" type="button">Show More</button>
    </div>
  </div>

  <!-- ================== Book Modal ================== -->
  <div class="backdrop is-hidden" id="book-modal-backdrop">
    <div class="book-modal">
      <button type="button" class="modal-close-btn" id="book-modal-close">
        ✕
      </button>
      <div class="book-modal-content">
        <!-- Контент книги рендериться сюди через JS -->
      </div>
    </div>
  </div>
</section>
