<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo-header" href="./index.html"
        ><img class="img-logo" src="/img/logo.svg" alt="Logo"
      /></a>
      <ul class="site-nav-list">
        <li class="site-nav-item">
          <a class="site-nav-link" href="#home">Home</a>
        </li>
        <li class="site-nav-item">
          <a class="site-nav-link" href="#books">Books</a>
        </li>
        <li class="site-nav-item">
          <a class="site-nav-link" href="#feedbacks">Feedbacks</a>
        </li>
        <li class="site-nav-item">
          <a class="site-nav-link" href="#events">Events</a>
        </li>
        <li class="site-nav-item">
          <a class="site-nav-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>

    <button id="burger-btn" type="button" aria-label="Open menu" data-menu-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container mob-menu-container">
      <div class="mob-menu-clos">
        <a class="logo-header" href="./index.html"
          ><img class="img-logo" src="/img/logo.svg" alt="Logo"
        /></a>
        <button
          type="button"
          class="mob-menu-clos-btn"
          aria-label="Close menu"
          data-menu-close
        >
          <svg class="menu-clos-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-x"></use>
          </svg>
        </button>
      </div>
      <nav class="mob-menu-nav">
        <ul class="nav-list-mob">
          <li class="nav-item-mob">
            <a class="nav-link-mob" href="#home">Home</a>
          </li>
          <li class="nav-item-mob">
            <a class="nav-link-mob" href="#books">Books</a>
          </li>
          <li class="nav-item-mob">
            <a class="nav-link-mob" href="#feedbacks">Feedbacks</a>
          </li>
          <li class="nav-item-mob">
            <a class="nav-link-mob" href="#events">Events</a>
          </li>
          <li class="nav-item-mob">
            <a class="nav-link-mob" href="#location">Location</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <script type="module" src="./js/menu.js"></script>
</header>
