<section id="hero" class="hero">
    <div class="hero__container container">
        <div class="hero__slider swiper">
            <ul class="hero__list swiper-wrapper">
                <!-- Slide -->
                <li class="hero__item swiper-slide">
                    <picture>
                        <source srcset="/img/hero/1-mob-ban-1x.webp 1x, /img/hero/1-mob-ban-2x.webp 2x"
                            media="(max-width: 767px)" />
                        <source srcset="/img/hero/1-tub-ban-1x.webp 1x, /img/hero/1-tub-ban-2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1439px)" />
                        <source srcset="/img/hero/1-des-ban-1x.webp 1x, /img/hero/1-des-ban-2x.webp 2x"
                            media="(min-width: 1440px)" />
                        <img src="/img/hero/1-des-ban-1x.webp" alt="Reading with coffee" class="hero__image"
                            width="1312" height="395" fetchpriority="high" />
                    </picture>

                    <div class="hero__overlay">
                        <p class="hero__discount">Get 10% off your <br />first order</p>
                        <a href="#books" class="hero__btn">Shop Now!</a>
                    </div>
                </li>

                <!-- Остальные слайды -->
                <li class="hero__item swiper-slide">
                    <picture>
                        <source srcset="/img/hero/2-mob-ban-1x.webp 1x, /img/hero/2-mob-ban-2x.webp 2x"
                            media="(max-width: 767px)" />
                        <source srcset="/img/hero/2-tub-ban-1x.webp 1x, /img/hero/2-tub-ban-2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1439px)" />
                        <source srcset="/img/hero/2-des-ban-1x.webp 1x, /img/hero/2-des-ban-2x.webp 2x"
                            media="(min-width: 1440px)" />
                        <img src="/img/hero/2-des-ban-1x.webp" alt="Books and candle" class="hero__image" width="1312"
                            height="395" loading="lazy" decoding="async" />
                    </picture>

                    <div class="hero__overlay">
                        <p class="hero__discount">Save 15% on <br />some books</p>
                        <a href="#books" class="hero__btn">Shop Now!</a>
                    </div>
                </li>

                <li class="hero__item swiper-slide">
                    <picture>
                        <source srcset="/img/hero/3-mob-ban-1x.webp 1x, /img/hero/3-mob-ban-2x.webp 2x"
                            media="(max-width: 767px)" />
                        <source srcset="/img/hero/3-tub-ban-1x.webp 1x, /img/hero/3-tub-ban-2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1439px)" />
                        <source srcset="/img/hero/3-des-ban-1x.webp 1x, /img/hero/3-des-ban-2x.webp 2x"
                            media="(min-width: 1440px)" />
                        <img src="/img/hero/3-des-ban-1x.webp" alt="Sunlight and open book" class="hero__image"
                            width="1312" height="395" loading="lazy" decoding="async" />
                    </picture>

                    <div class="hero__overlay">
                        <p class="hero__discount">
                            Summer Sale!<br />
                            Up to -40% discounts
                        </p>
                        <a href="#books" class="hero__btn">Shop Now!</a>
                    </div>
                </li>

                <li class="hero__item swiper-slide">
                    <picture>
                        <source srcset="/img/hero/4-mob-ban-1x.webp 1x, /img/hero/4-mob-ban-2x.webp 2x"
                            media="(max-width: 767px)" />
                        <source srcset="/img/hero/4-tub-ban-1x.webp 1x, /img/hero/4-tub-ban-2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1439px)" />
                        <source srcset="/img/hero/4-des-ban-1x.webp 1x, /img/hero/4-des-ban-2x.webp 2x"
                            media="(min-width: 1440px)" />
                        <img src="/img/hero/4-des-ban-1x.webp" alt="Stack of books" class="hero__image" width="1312"
                            height="395" loading="lazy" decoding="async" />
                    </picture>

                    <div class="hero__overlay">
                        <p class="hero__discount">
                            Last chance to buy our <br />spring bestsellers
                        </p>
                        <a href="#books" class="hero__btn">Shop Now!</a>
                    </div>
                </li>
            </ul>

            <!-- Навигация -->
            <div class="hero__bottom">
                <h1 class="hero__title">Discover Your Next Great Read Today!</h1>
                <div class="hero__buttons">
                    <button class="hero__button hero__button--prev" aria-label="Previous slide">
                        <svg class="hero__icon" aria-hidden="true" width="24" height="24">
                            <use href="/img/icons.svg#icon-left-arrow"></use>
                        </svg>
                    </button>
                    <button class="hero__button hero__button--next" aria-label="Next slide">
                        <svg class="hero__icon" aria-hidden="true" width="24" height="24">
                            <use href="/img/icons.svg#icon-right-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>