<section class="location" id="location">
  <div class="container-location">

      <div class="location-info">
      <div class="location-header">
        <h4 class="location-subtitle">Location</h4>
        <h2 class="location-title">How to find us</h2>
        <p class="location-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Suspendisse varius enim in eros elementum tristique.
        </p>
      </div>

      <ul class="location-contacts">
        <li class="location-contacts-item">
          <svg class="location-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-mail"></use>
          </svg>
          <div class="location-contact-info">
            <p class="location-contact-label">Email</p>
            <a href="mailto:hello@booksy.com" class="location-link">hello@booksy.com</a>
          </div>
        </li>

        <li class="location-contacts-item">
          <svg class="location-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-phone"></use>
          </svg>
          <div class="location-contact-info">
            <p class="location-contact-label">Phone</p>
            <a href="tel:+61241304302" class="location-link">+61 (241) 304-3012</a>
          </div>
        </li>

        <li class="location-contacts-item">
          <svg class="location-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-map"></use>
          </svg>
          <div class="location-contact-info">
            <p class="location-contact-label">Office</p>
            <p class="location-text">123 Books St, Sydney NSW 2000 AU</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="location-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d507214.06089815794!2d151.00855014951728!3d-33.36729548270322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b73155e3e7420dd%3A0x8a563884360e3fd0!2s123%20Books!5e0!3m2!1suk!2sua!4v1760113991490!5m2!1suk!2sua"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade" title="Booksy location map">
      </iframe>
    </div>

  </div>
</section>
