<section class="location" id="location">
  <div class="container">
    <h3 class="location-subtitle">Location</h3>
    <h2 class="location-title">How to find us</h2>

    <ul class="location-list">
      <li class="location-item">
        <svg class="location-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-map"></use>
        </svg>
        <address class="location-text">
          123 Books St, Sydney NSW 2000 AU
        </address>
      </li>

      <li class="location-item">
        <svg class="location-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-phone"></use>
        </svg>
        <a href="tel:+61234567890" class="location-link">+61 234 567 890</a>
      </li>

      <li class="location-item">
        <svg class="location-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-mail"></use>
        </svg>
        <a href="mailto:info@booksy.com" class="location-link"
          >info@booksy.com</a
        >
      </li>
    </ul>

    <div class="location-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d507214.06089815794!2d151.00855014951728!3d-33.36729548270322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b73155e3e7420dd%3A0x8a563884360e3fd0!2s123%20Books!5e0!3m2!1suk!2sua!4v1760113991490!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <button class="location-btn">Contact Us</button>
  </div>
</section>
