.events-container {
  padding: 64px 16px;
}
.events-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.events-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}
.events-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
}
.item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}
.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.item-second-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.events-icon {
  margin-left: 8px;
  width: 8px;
  height: 11px;
}
.item-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 545px;
}
.item-img {
  margin-bottom: 24px;
  width: 342px;
  height: 277px;
}
.item-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background: #fceee6;
  border: none;
  margin-top: auto;
}
.slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}
.dots {
  display: flex;
  gap: 8px;
  align-items: center;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0b0500;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 0.2s;
}
.dot.active {
  opacity: 1;
}
.arrows {
  display: flex;
  gap: 16px;
  align-items: center;
}
.slider-btn {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(11, 5, 0, 0.15);
  background: #d55a00;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.2s;
}
.slider-btn svg {
  fill: #fff;
  width: 24px;
  height: 24px;
  transition: fill 0.2s;
}
.slider-btn:hover {
  background: #fceee6;
}
.slider-btn:hover svg {
  fill: #0b0500;
}
.slider-btn:active {
  background-color: #5a2502;
}
.slider-btn:active svg {
  fill: #fff;
}
.slider-btn:focus-visible {
  outline: rgba(11, 5, 0, 0.05);
  outline-offset: 2px;
  background-color: #fceee6;
}
.slider-btn:focus-visible svg {
  fill: #0b0500;
}
.slider-btn.is-disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
  background-color: #d55a00;
}
.slider-btn.is-disabled svg {
  fill: #0b0500;
}
@media only screen and (min-width: 768px) {
  .item-picture {
    width: 340px;
  }
  .events-container {
    padding: 64px 32px;
  }
  .events-list {
    display: flex;
    gap: 24px;
  }

  .item-card {
    height: 521px;
  }
}
@media only screen and (min-width: 1440px) {
  .events-container {
    padding: 64px;
  }
  .item-picture {
    width: 421px;
  }
  .item-img {
    width: 421px;
  }

  .events-subtitle {
    width: 560px;
  }
  .slider-controls {
    display: none !important;
  }
}
