/* -------------------- */
/*  Base styles (mobile first) */
/* -------------------- */

.hero {
    padding: 0px 16px 32px;
    width: 375px;
    height: 471px;
    background-color: #fceee6;
    margin: auto;
}

.hero__container {
    max-width: 343px;
    max-height: 439px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

/* --- Slider --- */
.hero__slider {
    position: relative;
    width: 100%;
}

.hero__list {
    list-style: none;

}

.hero__item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.hero__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* --- Overlay text + button --- */
.hero__overlay {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero__discount {
    font-family: "Rubik", sans-serif;
    min-width: 172px;
    max-height: 56px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #fff;
}




.hero__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e15d05;
    color: #fff;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    border: 0.52px solid #e15d05;
    border-radius: 2px;
    max-width: 117px;
    min-height: 20px;
    text-decoration: none;
    z-index: 2;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero__btn:hover,
.hero__btn:focus {
    background-color: #ea8d50;
}


.hero__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column-reverse;
    gap: 24px;
}

.hero__buttons {
    display: flex;
    gap: 16px;
    padding-top: 24px;

}

/* КНОПКА */
.hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e15d05;
    border: 1px solid rgba(11, 5, 0, 0.15);
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: background-color 0.2s ease, opacity 0.2s ease;
}

/* ИКОНКА */
.hero__icon {
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: fill 0.2s ease;
}

/* Hover / Focus */
.hero__button:hover,
.hero__button:focus {
    background-color: #fceee6;
}

.hero__button:hover .hero__icon,
.hero__button:focus .hero__icon {
    fill: #0b0500;
}

/* Active */
.hero__button:active {
    background-color: #5a2502;
}

.hero__button:active .hero__icon {
    fill: #fff;
}

/* Disabled */
.hero__button:disabled {
    background-color: #e15d05;
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
}

.hero__button:disabled .hero__icon {
    fill: #0b0500;
}

/* --- Title --- */
.hero__title {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0500;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    width: 343px;
    height: 144px;
}

/* -------------------- */
/* 💻 Tablet ≥768px */
/* -------------------- */
@media (min-width: 768px) {
    .hero {
        width: 768px;
        height: 426px;
        padding: 0px 32px 32px;
        background-color: #fceee6;
        position: relative;
    }

    .hero__container {
        max-width: 704px;
        min-height: 394px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    /* --- Slider --- */


    .hero__item {
        border-radius: 0px;
        width: 704px;
        max-height: 274px;
    }

    .hero__image {
        display: block;
        width: 704px;
        height: 274px;
        object-fit: cover;
    }


    /* --- Overlay text + button --- */
    .hero__overlay {
        position: absolute;
        bottom: 32px;
        left: 40px;
        display: flex;
        gap: 16px;
    }

    .hero__discount {
        bottom: 20px;
        font-size: 32px;
        line-height: 1.2;
        min-width: 274px;
        max-height: 76px;
    }

    .hero__btn {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        padding: 8px 20px;
        border-radius: 4px;
        border: 1px solid #e15d05;
        color: #fff;
        max-width: 164px;
        min-height: 32px;
    }

    .hero__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;
        padding-top: 24px;
        gap: 0;

    }

    .hero__buttons {
        max-width: 144px;

    }



    /* --- Title --- */
    .hero__title {
        font-size: 40px;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -0.01em;
        width: 560px;
        height: 96px;
        color: #0b0500;
        text-align: left;

    }

}

/* -------------------- */
/* 🖥️ Desktop ≥1440px */
/* -------------------- */
@media (min-width: 1440px) {
    .hero {
        width: 1440px;
        height: 513px;
        padding: 0px 64px 32px;
    }

    .hero__container {
        max-width: 1312px;
        min-height: 481px;
    }

    .hero__item {
        width: 1312px;
        max-height: 395px;
    }

    .hero__image {
        display: block;
        width: 1312px;
        height: 395px;
        object-fit: cover;
    }

    .hero__overlay {
        position: absolute;
        bottom: 56px;
        left: 56px;
        display: flex;
        gap: 20px;
    }

    .hero__discount {
        font-size: 52px;
        min-width: 392px;
        max-height: 124px;
    }

    .hero__btn {
        max-width: 227px;
        min-height: 40px;
    }

    .hero__buttons {
        padding-top: 7px;
    }

    .hero__title {
        font-size: 52px;
        width: 1168px;
        height: 62px;
    }
}