/* MOBILE (320px+) */
.location {
  padding: 64px 0;
}
.container-location {
  max-width: 375px;
  margin: 0 auto;
}

.location-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.location-header {
  text-align: left;
}

.location-subtitle {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.location-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
}

.location-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.location-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.location-contacts-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.location-icon {
  flex-shrink: 0;
  margin-top: 2px;
  fill: #0b0500;
}

.location-contact-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.location-contact-label {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #0b0500;
}

.location-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0b0500;
}

.location-link:hover,
.location-link:focus {
  opacity: 0.7;
}

.location-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0500;
}

.location-map {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
}

.location-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* TABLET (768px+) */
@media only screen and (min-width: 768px) {
  .container-location {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }

  .location-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 80px;
  }

  .location-header {
    flex-basis: 336px;
  }

  .location-subtitle {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
  }

  .location-title {
    margin-bottom: 8px;
  }

  .location-description {
    font-size: 18px;
    line-height: 1.5;
  }

  .location-contacts {
    flex-basis: 336px;
    gap: 24px;
  }

  .location-map {
    height: 350px;
  }

  .location-title {
    font-size: 36px;
  }
}

/* DESKTOP (1440px+) */
@media only screen and (min-width: 1440px) {
  .container-location {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
  }

  .location-info {
    gap: 96px;
    margin-bottom: 80px;
  }

  .location-header {
    flex-basis: 732px;
  }

  .location-contacts {
    flex-basis: 500px;
  }

  .location-title {
    margin-bottom: 12px;
  }

  .location-description {
    margin-bottom: 48px;
    font-size: 20px;
  }

  .location-map {
    height: 738px;
  }

  .location-contact-label {
    font-size: 20px;
  }

  .location-text,
  .location-link {
    font-size: 20px;
  }
}
